body {
	font: 16px/1em Helvetica, Arial, sans-serif;
}

#main {
	max-width: 900px;
	padding: 20px;
	margin: 0 auto;
}

#principal {
	margin-bottom: 20px;
}

#logo {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

p {
	margin: 10px 0;
	font-size: 18px;
	font-family: 'georgia';
	line-height: 1.3em;
}

.dl {
	text-align: center;
}

.dl img {
	display: block;
	width: 100%;
	margin: 0 auto;
	max-width: 600px;
}

#stickers {
	background: #e25826;
}

#stickers img {
	border: 10px solid #eee;
	box-shadow: 0px 0px 5px rgba(0,0,0,.5);
	-webkit-transform: rotate(-5deg);
}

#stencil {
	background: url(../img/bg-stencil.jpg);
	background-attachment: fixed;
}

.button {
	display: block;
	background: #999;
	border-radius:5px;
	
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	
	-border: 1px solid #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	
	max-width: 600px;
	margin: 20px auto;
	
	color: #ddd;
	cursor: pointer;
	
	display: block;
	line-height: 1.714285714;
	padding: 5px;
	text-align: center;
	text-shadow: 0 -1px 0 #333;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#33000000', EndColorStr='#00000000'), glow(color=black,strength=2);
		
	background-image: linear-gradient(bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.0) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.0) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,0.0) 100%);
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.0) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33000000', EndColorStr='#00000000')";
	
	-webkit-box-shadow: 
		inset 0 1px 0 rgba(255,255,255, .5),
		inset 0 -2px 8px rgba(0,0,0, 0.1),
		0 1px 3px rgba(0,0,0, 0.1);
	-moz-box-shadow: 
		inset 0 1px 0 rgba(255,255,255, .5),
		inset 0 -2px 8px rgba(0,0,0, 0.1),
		0 1px 3px rgba(0,0,0, 0.1);
	-ms-box-shadow: 
		inset 0 1px 0 rgba(255,255,255, .5),
		inset 0 -2px 8px rgba(0,0,0, 0.1),
		0 1px 3px rgba(0,0,0, 0.1);
	box-shadow: 
		inset 0 1px 0 rgba(255,255,255, .5),
		inset 0 -2px 8px rgba(0,0,0, 0.1),
		inset 0 0 2px rgba(0,0,0,.4),
		0 1px 3px rgba(0,0,0, 0.5);
	-webkit-transition: all 0.2s ease-in;
}

.button:hover {
	color: #fff;
	background-color: #666;
}

.button:active {
	background-image: linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#bbbbbb')";
	
	-webkit-box-shadow: 
		inset 0 1px 0 rgba(255,255,255, .2),
		inset 0 -2px 8px rgba(0,0,0, 0.1),
		inset 0 1px 3px rgba(0,0,0, 0.4);
	-moz-box-shadow: 
		inset 0 1px 0 rgba(255,255,255, .2),
		inset 0 -2px 8px rgba(0,0,0, 0.1),
		inset 0 1px 3px rgba(0,0,0, 0.4);
	-ms-box-shadow: 
		inset 0 1px 0 rgba(255,255,255, .2),
		inset 0 -2px 8px rgba(0,0,0, 0.1),
		inset 0 1px 3px rgba(0,0,0, 0.4);
	box-shadow: 
		inset 0 1px 0 rgba(255,255,255, .2),
		inset 0 -2px 8px rgba(0,0,0, 0.1),
		inset 0 1px 3px rgba(0,0,0, 0.4);
}


footer {
	background: #333;
	color: #999;
	text-align: center;
	padding: 20px 0;
	border-top: 1px solid #555;
}

footer a {
	color: #999;
	text-decoration: none;
}

footer a:hover {
	color: #eee;
}

@media (max-width:600px) {
	#main {
		padding: 20px 0;
	}
	
	#main section {
		padding: 20px;
	}
	
	#stickers img {
		border: 10px solid #eee;
		box-shadow: 0px 0px 5px rgba(0,0,0,.5);
		width: 80%;
		-webkit-transform: rotate(-5deg);
	}
	
	.button {
		width: 80%;
	}
}